<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Delfi RSS Reader' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>e17fbd9a-f783-419b-9523-09db616ef164</InstrumentationKey>
</ApplicationInsights>